In [6]:
import pandas as pd
df.to_csv("cafe_index.csv")

try:
    df = pd.read_csv("cafe.csv")
except FileNotFoundError:
    df = pd.DataFrame({
        "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
        "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
        "칼로리": [10, 110, 250, 110, 20, 210, 0],
    })
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [9]:
# C-1) 스칼라(고정값)로 새 컬럼 추가
df["지점"] = "본점"

# # C-2) 계산식으로 파생 컬럼 추가 (할인가)
discount = 0.2
df["할인가"] = (df["가격"] * (1 - discount)).astype(int)

# # C-3) 조건 기반 컬럼(np.where / loc)
import numpy as np
df["고칼로리여부"] = np.where(df["칼로리"] >= 150, True, False)
df.loc[df["칼로리"] >= 150, "칼로리등급"] = "HIGH"
df.loc[df["칼로리"] < 150, "칼로리등급"] = "LOW"
df

# # C-4) 매핑/치환 기반 컬럼 생성(map/replace)
origin_map = {"아메리카노": "블렌드", "에스프레소": "싱글", "밀크티": "브렌드", "녹차": "티"}
df["원두타입"] = df["메뉴"].map(origin_map).fillna("기타")
df

# # C-5) 위치 지정해 컬럼 삽입(insert: 특정 위치에)
# df.insert(1, "메뉴길이", df["메뉴"].str.len())

# # C-6) assign로 체이닝
# df2 = (df
#        .assign(세전가격=lambda x: (x["가격"] / 1.1).round(0).astype(int),
#                이름대문자=lambda x: x["메뉴"].str.upper())
# )

/tmp/ipykernel_496/2498492923.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'HIGH' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["칼로리"] >= 150, "칼로리등급"] = "HIGH"

      메뉴    가격  칼로리  지점   할인가  고칼로리여부 칼로리등급
0  아메리카노  4500   10  본점  3600   False   LOW
1   카페라떼  5000  110  본점  4000   False   LOW
2   카페모카  5500  250  본점  4400    True  HIGH
3   카푸치노  5000  110  본점  4000   False   LOW
4  에스프레소  4000   20  본점  3200   False   LOW
5    밀크티  5900  210  본점  4720    True  HIGH
6     녹차  5300    0  본점  4240   False   LOW